*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-form{
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border: #e9e9e9 solid 0.1rem;
    border-radius: 0.5rem;

    margin-top: 2rem;
}

.form-abertura-chamado{
    display: flex;
    justify-content: left;
    padding: 1rem;

    background-color: #f7f7f7;
    font-size: small;
    border-bottom: #e9e9e9 solid 0.1rem;
    flex: 1;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem 1rem 1rem;
}

form > label{
    padding: 0.8rem 0 0.3rem 0;
}

form > input, .form-select{
    height: 2rem;
    border-radius: 0.3rem;
    border: #e9e9e9 solid 0.1rem;
    color: gray;
}

form > input{
    padding: 0.5rem;
}

.form-descricao{
    height: 4rem;
}

.form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}

.form-buttons1, .form-buttons2{
    width: 49%;
    height: 3rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.form-buttons1{
    background-color: #fdc008;
    border: #fdc008 solid 0.1rem;
}

.form-buttons2{
    background-color: #18a3b6;
    color: #FFF;
    border: #18a3b6 solid 0.1rem;
}