*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #fefefe;
}

/*HEADER*/
header{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    background-color: #33383d;
}

#header img{
    width: 2.5rem;
}

#header h2{
    color: #FFF;
    font-family: sans-serif;
    font-size: 1rem;
}

.header-right{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}

.header-left{
    color: #8c949a;
}