*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

header{
    width: 100vh;
    height: auto;
    padding: 0.5rem;

    background-color: #33383d;
}

header img{
    width: 2.5rem;
}